.app-title{
  font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
  text-align: center;
  letter-spacing: 0;
  color: #ec4242;
}

div{
  text-align: center;
  font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
}
